@font-face { font-family: Segoe; src: url('./ext/fonts/Segoe.ttf'); }

html, body, div, span {
  font-family: Segoe, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

/* font-family defined in html page */
body {
  margin: 0;
  padding: 0;
  background-color: #273B7A;
  color: #FFE;
  letter-spacing: .2rem;
}

#my-nav {
  padding: 1rem .5rem;
}