@font-face { font-family: Segoe; src: url('./ext/fonts/Segoe.ttf'); }

html, body {
  font-family: Segoe, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

body {
  margin: 0;
  padding: 0;
  background-color: #273B7A;
  color: #FFE;
  letter-spacing: .2rem;
}

a {
  color: #FFE;
}

#my-nav {
  padding: 1rem .5rem;
  font-size: 1.2rem;
  position: absolute;
  width: 100%;
}

#nav-back {
  height: 64px;
}

.nav-button:hover {
  color: #FFC661;
}

.nav-button:focus {
  color: #FFE;
}

#avatar {
  max-height: 2rem;
}

.right-align {
  float: right;
}

#menu-icon {
  margin-right: 1rem;
  background-color: inherit;
  border: 0;
  display: none;
}

#menu-icon:focus {
  outline: 0;
}

.menu-li {
  width: 100%;
  text-align: center;
  padding: 5px 0 5px 0;
}

#menu-links {
  background-color: #6071A8;
  line-height: 2.5rem;
}

hr {
  margin: 0;
}

/*footer*/
footer {
  margin-bottom: 1.5rem;
}

.max-width-content {
  max-width: 960px;
  text-align: center;
  margin: 0 auto;
}


@media screen and (min-width: 992px) {
  #footer-links {
    margin-top: 42px;
  }
}

@media screen and (max-width: 600px) {
  #article1 {
      padding-top: 30px;
  }
  #nav-links {
      display: none;
  }
  #menu-icon {
      display: inherit;
  }
}