#home-page {
    
}

#article-bgd {
    background-image: url('./../ext/images/code-bgd.jpeg');
    background-repeat: no-repeat;
    background-position: 0;
    background-attachment: fixed;
    height: 350px;
    text-align: center;
}

#article1 {
    padding-top: 100px;
    padding-left: .5rem;
    padding-right: .5rem;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 600px) {
    #article-bgd {
        height: 250px;
    }
    #article1 {
        padding-top: 45px;
    }
}

@media only screen and (max-width: 450px) {
    #article1 {
        padding-top: 30px;
    }
}